<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
Home
{% endblock %}}

{% block body %}
      </div>
      <section class="py-5 text-center container">
      <a href="BiSection" class="btn btn-primary my-2 " style="width:210px;">Bi Section Method</a><br>
      <a href="/RegulaFalsi" class="btn btn-primary my-2 " style="width:210px;">Regula Falsi Method</a><br>
      <a href="/NewtonRaphson" class="btn btn-primary my-2 "style="width:210px;">Newton Raphson Method</a><br>
      <a href="/Secant" class="btn btn-primary my-2"style="width:210px;">Secant Method</a> <br>
      <a href="/GaussSeidle" class="btn btn-primary my-2 " style="width:210px;">Gauss Seidle Method</a>  
    </section>   <!-- Optional JavaScript; choose one of the two! -->  
    {% endblock body %}